.addLists_window
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(30,30,30,.3);
}
.addLists_window form
{
	width: 500px;
	padding: 16px;
	padding-top: 24px;
	background-color: #fefefe;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: Raleway;
	border: 1px solid #999;
	border-radius: 2px;
	box-shadow: 0px 0px 10px #333;
}
.addLists_window form label
{
	position: absolute;
	top: 32px;
	left: 24px;
	font-size: 1.5em;
	transition: .3s all ease;
}
.addLists_window form .name_list:focus ~ label,
.addLists_window form .name_list:valid ~ label
{
	transform: translate(-8px, -24px);
	font-size: .9em;
	color: #5e5ebf;
}
.addLists_window form .name_list
{
	width: 100%;
	font-size: 1.5em;
	padding: 8px 4px;
	box-sizing: border-box;
	outline: none;
}

.addLists_window form input[type="submit"]
{
	background-color: #fefefe;
	height: 28px;
	font-family: Raleway;
	padding: 0 16px 0 16px;
	border-radius: 16px;
	border: 1px solid #999;
	color: #444;
	cursor: pointer;
	float: right;
	transition: all .3s ease;
	margin: 8px 0;
}
.addLists_window form input[type="submit"]:hover
{
	background-color: #8e8edf;
	color: #fefefe;
	border-color: #5e5ebf;
}