.list_header
{
	padding: 24px;
	background-color: #f8f8f8;
	text-align: center;
	margin-bottom: 8px;
	border-bottom: 1px solid #aaa;
	box-shadow: 0px 0px 5px #999;
}
.list_header h3
{
	font-family: Raleway;
	font-size: 2em;
	margin-bottom: 0;
}
.list_header ul
{
	list-style: none;
	display: flex;
	justify-content: center;
	font-family: Roboto;
	color: #888;
	padding: 0;
}
.list_header ul li
{
	max-width: 100px;
	flex: 1;
}
.list_header .icons_edit, 
.list_header a
{
	cursor: pointer;
	text-decoration: none;
}
.list_header .delete
{
	color: #111;
}