.bookHeader
{
	position: relative;
	padding: 16px;
	border-bottom: 1px solid #666;
	box-shadow: 0px 1px 9px #666;
	z-index: 10;
}
.bookHeader img
{
	box-shadow: 0px 1px 9px #333;
	width: 200px;
	height: 320px;
	display: inline-block;
	z-index: 1;
	position: relative;
}
.bookHeader .headerContent
{
	position: relative;
	width: 90%;
	max-width: 700px;
	left: 50%;
	transform: translateX(-50%);
}
.bookHeader .headerInfos
{
	margin: 0;
	height: 100%;
	width: auto;
	display: inline-block;
	font-family: Raleway;
	padding: 0px 0px 0px 8px;
}
.bookHeader .headerInfos *
{
	margin: 0;
}
.bookHeader .headerInfos .bookTitle
{
	font-size: 2em;
}
.bookHeader .headerInfos .bookTitle .icons_edit
{
	color: #ddd;
	transition: .5s all ease;
	cursor: pointer;
}
.bookHeader .headerInfos .bookTitle .icons_edit:hover
{
	color: #aaa;
}
.bookHeader .headerInfos .bookCategory
{
	font-size: .7em;
	text-decoration: none;
	color: inherit;
}

.bookHeader .headerInfos .bookCategory:hover,
.bookHeader .headerInfos .bookAuthor:hover
{
	text-decoration: underline;
}
.bookHeader .headerInfos .bookAuthor
{
	font-size: 1em;
	font-family: Roboto;
	display: block;
	text-decoration: none;
	color: inherit;
}
.bookHeader .headerInfos .bookCategory:before
{
	content: "#";
	margin-right: 8px;
}

.book_synopsis
{
	position: relative;
	width: 90%;
	max-width: 700px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;

	background-color: #fff;
	font-family: Roboto;
	font-size: 0.9em;
	color: #555;
	text-align: justify;

	padding: 16px;
	box-sizing: content-box;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
.comment_frame
{
	position: relative;
	overflow: hidden;

	max-width: 700px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	padding: 16px;
}
.comment_frame hr
{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 1.4em 0;
}
.comment_frame h3
{
	font-family: Raleway;
	color: #444;
	text-transform: uppercase;
	font-size: .8em;
}
.comment_frame h4
{
	font-family: Roboto;
	color: #444;
	text-transform: uppercase;
	font-size: .7em;
	font-weight: bolder;
	text-align: center;
}
.comment_frame .add_comment
{
	position: relative;
	top: 0;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #aaa;
	color: #fff;
	text-align: center;
}
.comment_frame .form_comment form
{
	margin-top: 16px;
	position: relative;
}
.comment_frame .form_comment textarea
{
	width: 700px;
	min-height: 70px;
	resize: vertical;
	padding: 8px;
	font-family: Roboto;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #ddd;
	outline: none;
}
.comment_frame .form_comment input[type="submit"],
.comment_frame .form_comment button
{
	background-color: #eee;
	height: 28px;
	font-family: Raleway;
	padding: 0 16px 0 16px;
	border-radius: 16px;
	border: 1px solid #999;
	color: #444;
	cursor: pointer;
	float: right;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
	transform: translateX(100%);
	margin: 8px;
}
.comment_frame .form_comment button
{
	transition-delay: .1s;
	border: 1px solid #cc7777;
	color: #cc7777;
}
.comment_frame .form_comment button:hover
{
	background-color: #ddaeae; 
	color: #fefefe;
	border-color: #bd7e7e;
}
.comment_frame .form_comment input[type="submit"]:hover
{
	background-color: #8e8edf;
	color: #fefefe;
	border-color: #5e5ebf;
}
.comment_frame .form_comment label
{
	font-size: 2em;
	font-family: Raleway;
	color: #777;
	position: absolute;
	line-height: 70px;
	left: 16px;
	top: 0;
	visibility: visible;
	opacity: 1;
	transition: all .3s ease;
	transition-delay: .1s;
}
.comment_frame .form_comment textarea:focus + label,
.comment_frame .form_comment textarea:valid + label
{
	font-size: 1em;
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
}
.comment_frame .form_comment textarea:focus ~ input[type="submit"],
.comment_frame .form_comment textarea:valid ~ input[type="submit"],
.comment_frame .form_comment textarea:focus ~ button,
.comment_frame .form_comment textarea:valid ~ button
{
	transform: translateX(00%);
	opacity: 1;
	visibility: visible;
}
.comment_frame .comment
{
	background-color: #fafafa;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	position: relative;
	width: 700px;
	margin-bottom: 16px;
}
.comment_frame .comment p
{
	margin: 16px;
	font-family: Roboto;
	font-size: .8em;
	text-align: justify;
	color: #222;
}
.comment_frame .comment .author
{
	font-size: .7em;
	color: #444;
	font-family: Raleway;
	bottom: 3px;
	right: 4px;
	position: absolute; 
}

.bookHeader .lists
{
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	padding: 16px;
	transform: translate(-16px, -50%);
	background-color: #fefefe;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #999;
	overflow: hidden;
	opacity: 0;
	transition: .3s all ease;
}
.bookHeader .lists ul
{
	padding-left: 16px;
	box-sizing: border-box;
	margin: 0; 
	width: 50%;
	list-style: none;
	float: right;
	height: 100%;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	transition: .3s all ease;
	transition-delay: .4s;
}
.bookHeader .lists ul li
{
	font-family: Roboto;
	font-size: 1em;
	color: #333;
	padding-bottom: 6px;
	cursor: pointer;
}
.bookHeader .lists ul li:hover
{
	text-decoration: underline;
}

.bookHeader .lists ul li i
{
	transform: translateY(25%);
}
.bookHeader .lists ul li .done
{
	color: #33ff33;
}

.bookHeader .show
{
	width: 400px;
	height: 100px;
	opacity: 1;
}

.bookHeader .show ul
{
	opacity: 1;
	visibility: visible;
}
.bookHeader .likes
{
	line-height: 1em;
	font-size: 1em;
	overflow: hidden;
}