.books-section
{
	flex: 8;
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
}
.books-section .book
{
	display: flex;
	flex-direction: column;
	position: relative;

	width: 150px;
	height: 210px;
	background-color: #fefefe;
	box-shadow: 0px 1px 5px #ccc;

	margin: 8px;
	border-radius: 3px;
	overflow: hidden;

	text-decoration: none;

	transition: .5s all ease;
}
.books-section .book:hover
{
	box-shadow: 0px 2px 7px #999;
}
.books-section .book .title,
.books-section .book .author
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.books-section .img
{
	flex: 7;
	position: relative;
	width: 100%;

	background-color: grey;
	border-bottom: 1px solid #777;

	overflow: hidden;
}
.books-section img
{
	width: 100%;
	object-fit: contain;
}
.books-section .img .tag
{
	position: absolute;
	bottom: 0px;
	padding: 4px;

	background-color: rgba(10,10,10,.5);
	border-radius: 0px 3px 0px 0px;

	color: #fff;
	font-family: Raleway;
	font-size: 0.6em;
}
.books-section .img .tag::before
{
	content: "#";
	margin-right: 4px; 
}
.books-section .title
{
	width: 100%;
	
	text-align: center;
	font-family: Raleway;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #333;
	font-weight: bold;
	
	flex: 1;
}
.books-section .author
{
	width: 100%;
	
	color: #444;
	text-align: center;
	font-family: Raleway;
	font-size: 0.7em;

	flex: 1;
}
