.connexion_window
{
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	position: absolute;

	z-index: 10000;
	background-color: rgba(30,30,30,.3);
	opacity: 1;
	transition: all .3s;
	visibility: visible;
}
.hidden
{
	visibility: hidden;
	opacity: 0;
}
.connexion_window .connexion_frame
{
	position: relative;
	width: 90%;
	max-width: 600px;

	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid #999;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	overflow: hidden;
	box-shadow: 0px 0px 6px #666;
	transition: all .3s cubic-bezier(.68,-0.55,.27,1.55);
}
.connexion_window.hidden .connexion_frame
{
	transform: translate(-50%, -80%);
}
.connexion_frame ul
{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	list-style:none;
	overflow: hidden;
}
.connexion_frame ul li
{
	flex: 1;
	text-align: center;
	text-transform: uppercase;

	height: 60px;
	cursor: pointer;
	line-height: 60px;
}
.connexion_frame ul li.nselected
{
	background-color: #ccc;
	box-sizing: border-box;
	transition: .3s all ease;
}
.connexion_frame ul li:first-child.nselected {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  box-shadow: -2px -2px 6px -2px rgba(0, 0, 0, 0.3) inset;
}
.connexion_frame ul li:last-child.nselected {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  box-shadow: 2px -2px 6px -2px rgba(0, 0, 0, 0.3) inset;
}

.connexion_frame ul li:first-child.nselected:hover {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
	background-color: #cfcfcf;
  box-shadow: -2px -2px 7px -4px rgba(0, 0, 0, 0.1) inset;
}
.connexion_frame ul li:last-child.nselected:hover {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  	background-color: #cfcfcf;
  box-shadow: 2px -2px 7px -4px rgba(0, 0, 0, 0.1) inset;
}
.connexion_frame a
{
	color: #777;
	text-decoration: none;
	font-family: Roboto;
}
.connexion_logIn,
.connexion_create
{
	padding: 16px;
	display: none;
}
.connexion_logIn.visible,
.connexion_create.visible
{
	display: block;
}
.formRow 
{
	display: flex;
}
.formRow *
{
	flex: 1;
	margin: 8px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #9999dd;
	padding: 4px;
	width: 100%;
}
.connexion_send
{
	height: 35px;
	background: linear-gradient( 0deg, #0770b3, #1784c7);
	border-radius: 3px;
	padding: 4px;
	border: 1px solid #0754a0;
	box-sizing: border-box;
    color: #fafaff;
    cursor: pointer;
}
.disconnect
{
	padding: 16px;
}
.connexion_disconnect
{
	height: 35px;
	width: 100%;
    background-color: #ff968f;
    border: 1px solid #aa6655;
    color: #fafaff;
    cursor: pointer;
}
.error
{
	font-style: italic;
	text-align: center;
	color: #de4567;
	margin-top: 16px; 
}