body, html
{
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 100%;

	background-color: #EEEEEE;
}

section
{
	width: 100%;
	display: flex;
	height: calc(100% - 50px);
	position: fixed;
	top: 50px;
}
section .content
{
	flex: 9;
	overflow: auto;
}

footer
{
	position: relative;
	margin-bottom: 0px;
	width: 100%;
}

.hCenter
{
	width: 100%;
	display: flex;
	justify-content: center;
}