header
{
	display: flex;
	width: 100%;
	border-bottom: 1px solid #b5b5b5;
	overflow: hidden;
	font-size: 1em;
	height: 50px;
	box-sizing: border-box;
	background-color: #eee;
	position: fixed;
}
header > *
{
	text-align: center;
	line-height: 50px;
	padding: 0;
	text-decoration: none;
	border-bottom: 1px solid #fafafa;
}

header .logo:hover,
header .connexion:hover
{
	background-color: #f8f8f8;
}
header .logo
{
	flex: 2;
	font-family: Roboto;
	font-weight: bolder;
	color: #000;
}
header .search
{
	flex: 8;
	position: relative;

}
header .search form
{
	height: 100%;
}
header .search .clear
{
	position: absolute;
	right: 8px;
	line-height: 50px;
	transform: translateX(200%);
	visibility: hidden;
	opacity: 0;
	transition: .3s all ease;
	transform-delay: .2s; 
}
header .search input:focus ~ .clear,
header .search input:valid ~ .clear
{
	transform: translateX(0%);
	visibility: visible;
	opacity: 1;
}
header .search::before
{
	content: '\e8b6';
	position: absolute;
	line-height: 50px;
	left: 8px;
}
header .search input
{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
	border-right: 1px solid #dadada;
	border-left: 1px solid #dadada;
	text-align: initial;
	padding: 4px;
	font-size: .9em;
	columns: #444;
	padding-left: 34px; 
	outline: none;
	background-color: #eee;
	transition: .3s all ease;
}
header .search input:focus
{
	background-color: #f8f8f8;
}
header .search input:focus ~ .underline_search,
header .search input:valid ~ .underline_search
{
	width: 100%;
}
header .search .underline_search
{
	width: 0%;
	height: 2px;
	background-color: #1784c7;
	bottom: -1px;
	position: absolute;
	transition: .3s all ease-out;
}
header .connexion
{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	justify-content: space-around;
	background-color: #eee;
	z-index: 3;
	font-family: Roboto;
}
header .connexion i
{
	position: relative;
	transform: translateY(25%);
}