
header
{
	width: 100%;

	background-color: #EEEEEE;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 0px 5px #999;
	z-index: 2000;
	position: relative;

	display: flex;
	flex-direction: column;
}
header .head
{
	display: flex;
	border-bottom: 1px solid #fafafa;

	flex: 1;
}
header .head *
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 8px;
	box-sizing: border-box;
}
header .title
{
	flex: 1;
	
	font-family: Roboto, sans-serif;
	font-weight: bolder;
}
header .search
{
	flex: 8;
}
header .search input
{
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	background-color: #fafafa;

	color: #333;
}
header .min-nav
{
	display: flex;
	box-sizing: content-box;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fafafa;
}
header .min-nav *
{
	padding: 8px 0px 8px 0px;
	height: 16px;
	max-width: 100px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	font-size: 0.9em;
	color: #888;
	text-align: center;
	text-decoration: none;
	font-family: Roboto;
	
}
header .min-nav *:hover
{
	text-decoration: underline;
	color: #333;
}
header .connexion
{
	color: #444;
	text-align: center;
	cursor: pointer;
}
header .connexion .connIcon
{
	font-size: 28px;
	padding: 0px;
}
