.inner_nav
{
	border-bottom: 1px solid #aaa;
	background-color: #eee;
	position: relative;
	padding: 4px;
	padding-bottom: 6px;
	font-family: Roboto;
	box-shadow: 0px 0px 5px #999;
	z-index: 2;
}
.inner_nav ul
{
	width: 100%;
	display: flex;
	list-style: none;
	border: 0;
	margin: 0;
	justify-content: center;
	padding: 4px;
	box-sizing: border-box;
}
.inner_nav li
{
	flex: 1; 
	font-size: .8em;
	text-transform: uppercase;
	max-width: 100px;
	box-sizing: border-box;
	text-align: center;
}
.inner_nav li a:hover
{
	text-decoration: underline;
}
.inner_nav li a
{
	color: #444;
	text-decoration: none;
	width: 100%;
	display: block;
}
.inner_nav .cursor
{
	width: 100px;
	height: 2px;
	border-radius: 1px; 
	background-color: #1784c7;
	transform: translateX(-100%);
	position: absolute;
	bottom: 4px;
	transition: .3s all ease;
}
.authors .cursor
{
	transform: translateX(0%);
}

.lists .cursor
{
	transform: translateX(100%);
}

.nav_book:hover ~ .cursor
{
	background-color: #aaa;
	transform: translateX(-100%);
}
.nav_author:hover ~ .cursor
{
	background-color: #aaa;
	transform: translateX(0%);
}
.nav_list:hover ~ .cursor
{
	background-color: #aaa;
	transform: translateX(100%);
}