.list_section
{
	position: relative;
	width: 90%;
	max-width: 700px;
	margin-left: 50%;
	transform: translateX(-50%);
	z-index: 0;
}
.list_section .item
{
	position: relative;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #f8f8f8;
	font-family: Raleway;
	font-size: 1em;
	font-weight: bold;
	transition: .3s ease all;
	box-sizing: border-box;
	overflow: hidden;
	transition-delay: .2s;
}
.list_section .item .item_link
{	
	padding: 16px;
	display: flex;
	justify-content: space-between;
	color: #333;
	text-decoration: none;

}
.list_section .item .books
{
	font-family: Open Sans;
	font-size: .8em;
	color: #777;
	font-weight: 100;
}
.list_section .item:first-child
{
	border-top: none;
}
.list_section .item:last-child
{
	border-bottom: none;
}
.item .delete
{
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translate(200%, -50%); 
	transition: .3s all ease;
	transition-delay: 0s;
	opacity: 0;
	color: #111;
}
.list_section .item:hover
{
	background: linear-gradient( 90deg, rgba(0,0,0,0), #f8f8f8 30%, #f8f8f8 70%, rgba(0,0,0,0) );
	transition-delay: 0s;
}
.list_section .connected:hover
{
	padding-right: 36px;
}
.item:hover .delete
{
	opacity: 1;
	transform: translate(0, -50%);
	transition-delay: .2s;
}