.books-section
{
  flex: 8;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book
 {
  width: 150px;
  text-align: center;
  color: #333;
  line-height: .8em;
  /*cursor: pointer;*/
  margin: 8px;
  transition: .6s all ease;
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #888;
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
  font-family: Roboto;
}
.book
 .book_img {
  position: relative;
}
.book
 .book_img img {
  height: 178px;
  width: 100%;
  object-fit: cover;
  background-color: grey;
  transition: .3s all ease;
}
.book
 .book_img .tag {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .7em;
  padding: 4px;
  background: rgba(30, 30, 30, 0.6);
  color: #eee;
  border-radius: 0 3px 0 0;
}
.book
 .book_infos {
  padding: 4px;
  box-sizing: border-box;
  font-size: .9em;
  font-weight: 400;
  position: relative;
}
.book
 .book_infos .book_name,
.book
 .book_infos .author {
    white-space: nowrap;
    overflow: hidden;
    margin: 4px 8px;
    box-sizing: border-box;
}
.book
 .back {
  z-index: 1;
  width: 110%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  transform-origin: 0% 0%;
  transition: .15s all ease;
  border-top: 1px solid #777;
  top: 0;
  left: 0;
  transition-delay: .40s;
  box-shadow: 0 -1px 3px rgba(30, 30, 30, 0.4);
}
.book
 .front {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
}
.book a
{
  text-decoration: none;
}
.book
 .book_name {
  color: #333;
  z-index: 2;
  position: relative;
  text-decoration: none;
}
.book
 .book_author {
  color: #777;
  font-size: .8em;
  font-weight: 300;
  z-index: 2;
  position: relative;
  text-decoration: none;
}
.book
 .icons {
  position: absolute;
  right: 8px;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
.book
 .icons div {
  font-size: 1.5em;
  transition: .23s all ease;
  opacity: 0;
  visibility: hidden;
  display: block;
  transform: translateY(100%);
  padding: 4px;
  text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.4);
  text-align: right;
}
.book
 .icons .text
 {
  font-size: .5em;
  color: #333;
 }
.book
 .icons div:nth-child(1) {
  transition-delay: .27s;
}
.book
 .icons div:nth-child(2) {
  transition-delay: .22s;
}
.book
 .icons div:nth-child(3) {
  transition-delay: .17s;
  color: #dd6677;
}
.book:hover {
  box-shadow: 0px 0px 7px #777;
}
.book:hover .book_img img {
  filter: blur(1px) grayscale(40%) brightness(75%);
}
.book:hover .back {
  transform: rotate(-10deg);
  transition-delay: 0s;
}
.book:hover .icons div {
  visibility: visible;
  opacity: 1;
  transform: translateY(-100%);
}