@keyframes error {
	0% { transform: translateX(0px); }
	25% { transform: translateX(-3px); }
	75% { transform: translateX(3px); }
	100% { transform: translateX(0); }
}

.newForm
{
	width: 70%;
	display: flex;
	flex-direction: column; 
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 8px;
	font-family: Roboto;
}
.newForm *
{
	margin: 4px;
}
.newForm input, 
.newForm textarea
{
	background-color: #EEEEEE;
	border: none;
	padding: 4px;
	box-sizing: border-box;
}
.newForm .title
{
	font-size: 2.3em;
}
.newForm .author
{
	font-size: 1.2em;
}
.newForm .synopsis
{
	border-top: 1px solid #dedede;
	padding: 8px 0px 0px 4px;
	font-size: 1.5em;
	min-height: 300px;
}
.input_err
{
	border: 1px solid red;
	animation: error;
	animation-duration: .2s;
	animation-timing-function: ease-out;
	animation-iteration-count: 3;
}

.button
{
	width: 150px;
	height: 50px;
	padding: 0px;
	position: relative;
}
.button *
{
	transition: .3s all ease;
	cursor: pointer;
}
.button .back
{
	position: absolute;
	bottom: 0px;
	height: 80%;
	width: 90%;
	left: 0px;
	box-sizing: border-box;
	border: 4px solid #bebebe;
	background-color: #bebebe;
	margin: 0px;
}
.button .front
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0%;
	top: 0%;
	height: 80%;
	width: 90%;
	box-sizing: border-box;
	border: 4px solid #bebebe;
	background-color: #eee;
	margin: 0px;
}
.button:hover .back
{
	left: 5%;
	bottom: 10%;
}
.button:hover .front
{
	right: 5%;
	top: 10%;
}
.synch
{
	font-size: .8em;
	color: #6767de;
	cursor: pointer;
	text-align: center;
	margin: 16px 0 16px 0;
}
.autocomplete
{
	font-size: .8em;
	width: 100%;
	position: relative;
	overflow: hidden;
	font-family: Roboto;
	margin: 0;
}
.autocomplete ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 4px;
}
.autocomplete li
{
	display: inline-block;
	cursor: pointer;
	margin: 0;
	color: #333;
}
.ui-state-active {
    color: #6767de;
}