#notify
{
    position: fixed;
    bottom: 0px;
    padding: 5px;
    max-width: 300px;
}
#notify div
{
    border-radius: 2px;
    border: 1px solid rgba(149, 165, 166,0.5);
    background-color: white;
    padding: 8px;
    font-size: .8em;
    font-family: Open Sans;
    margin: 8px;
    cursor: pointer;
    animation-name: pop;
    animation-duration: .3s;
    animation-timing-function: ease;
}
#notify .remove
{
    animation-name: remove;
    animation-duration: .4s;
    animation-timing-function: ease-in;
}
@keyframes pop
{
    from { bottom: -50px; }
    to { bottom: 0px; }
}
@keyframes remove
{
    0% { opacity: 1; margin-bottom: 0px; }
    50% {opacity: 0; }
    100% { opacity: 0; margin-bottom: -50px; }
}