.lists_window
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(30,30,30,.3);
}
.lists_window .list_frame
{
	background-color: #fff;
	max-width: 700px;
	padding: 8px 24px 8px 24px;
	border: 1px solid #999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
}
.lists_window .list_frame ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: Roboto;
}
.lists_window .list_frame ul li
{
	margin: 4px;
	cursor: pointer;
}
.lists_window .list_frame ul li:hover
{
	text-decoration: underline;
}

.lists_window .list_frame ul li i
{
	transform: translateY(25%);
	margin-right: 4px;
}
.lists_window .loader
{
	background-color: #333;
	width: 100%;
	height: 5px;
	animation: loading 2s infinite alternate;
	position: relative;
}
@keyframes loading
{
	0%
	{
		width: 0%;
		left: 0%;
	}
	50%
	{
		width: 100%;
		left: 0%;
	}
	100%
	{
		width: 0%;
		left: 100%;
	}
}