@keyframes open
{
	0% { width: 1em; }
	100% {width: 70%;}
}
@keyframes open-nth
{
	0% { width: 1em; }
	100% {width: 60%;}
}
@keyframes text-opacity
{
	0% {opacity: 0}
	100% {opacity: 1}
}
.sharing_window_hidden
{
	visibility: hidden;
}
.sharing_window
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(10,10,10,.5);
	display: block;
	visibility: visible !important;
}
.sharing_window .sharing_frame
{
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.sharing_window .sharing_frame .title
{
	padding: 8px 16px 8px 16px;
	margin:	8px; 
	background-color: rgba(250,250,250, .8);
	font-size: 2em;
	text-align: center;
	font-family: Raleway;
	border-radius: 2em;
	border: 3px solid rgba(150,150,150, .8);
	animation: ease open .5s;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
.sharing_window .sharing_frame .ntw
{
	padding: 8px 16px 8px 16px;
	margin:	8px; 
	width: 1em;
	height: 1.2em;
	background-color: rgba(225,225,225, .6);
	font-size: 1.6em;
	text-align: center;
	font-family: Raleway;
	border-radius: 2em;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s ease;
	transition-delay: .1s;
	border: 3px solid rgba(225,225,225, .7);
	cursor: pointer;
	animation: ease open-nth .5s forwards;
	overflow: hidden;
}
.sharing_window .sharing_frame .ntw:nth-child(2)
{
	animation-delay: 0.4s;
}
.sharing_window .sharing_frame .ntw:nth-child(3)
{
	animation-delay: 0.9s;
}
.sharing_window .sharing_frame .ntw:nth-child(4)
{
	animation-delay: 1.4s;
}
.sharing_window .sharing_frame .ntw .icon
{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 1.9em;
	border-radius: 1.9em;
	line-height: 1.8em;
	text-align: left;
	transition: all .3s ease;
	padding-left: 13px;
	box-sizing: border-box;
	z-index: 1;
}
.sharing_window .sharing_frame .ntw .send
{
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 23px;
	line-height: 2.2em;
	z-index: 2;
	opacity: 0;
	transform: translateX(0);
	transition: opacity .3s ease,
				transform .3s ease;
	transition-delay: .1s;
}
.sharing_window .sharing_frame .facebook .icon
{
	background-color: #3b5998;
	padding-left: 16px;
	color: #dfe3ee;
}
.sharing_window .sharing_frame .twitter .icon
{
	background-color: #00aced;
	color: #fff;
}
.sharing_window .sharing_frame .plus .icon
{
	background-color: #d34836;
	color: #f1f1f1;
	padding-left: 8px;
}
.sharing_window .sharing_frame .ntw span
{
	z-index: 200;
	position: relative;
	opacity: 0;
	animation: text-opacity .2s forwards;
	animation-delay: 1.8s;
}
.sharing_window .sharing_frame .ntw:hover .icon
{
	width: 100%;
}
.sharing_window .sharing_frame .facebook:hover
{
	color: #dfe3ee; 
}
.sharing_window .sharing_frame .twitter:hover
{
	color: #fff; 
}
.sharing_window .sharing_frame .plus:hover
{
	color: #f1f1f1;
}
.sharing_window .sharing_frame .ntw:hover .send
{
	opacity: 1;
	transform: translateX(10px);
}