nav
{
	background-color: #44444f;
	border-right: 1px solid #555;
	flex: 2;
	padding-top: 8px;
	font-family: Roboto;
}
nav .nav_row
{
	width: 100%;
	margin-top: 8px;
	margin-bottom: 16px;
}
nav .center
{
	width: 100%;
	text-align: center;
}
nav .actions
{
	text-align: center;
}
nav .button_actions
{
	display: inline-block;
	margin: 8px;

	background: linear-gradient( 0deg, #0770b3, #1784c7);
	border-radius: 3px;
	padding: 4px;
	border: 1px solid #0754a0;
	box-sizing: border-box;
	font-size: .8em;
	text-transform: uppercase;
	width: 130px;
	cursor: pointer;
	color: #fefefe;
	text-decoration: none;
}
nav .nav_title
{
	font-size: .65em;
	text-transform: uppercase;
	padding-left: 8px;
	line-height: 1.5em; 
	margin: 4px 0 4px 0;
	color: #aeaeae;
	border-left: 3px solid #1784c7;
}
nav .nav_title .discon
{
	padding-left: 28px;
	color: #fd5050;
	position: relative;
	word-wrap: none;
	cursor: pointer;
	text-decoration: none;
}
nav .nav_title .disconnect
{
	font-size: 18px;
	position: absolute;
	left: 8px;
	padding: 0;
	transform: translateY(-2px);
}
nav .nav_title .user
{
	color: #1784c7;
}
nav .nav_list
{
	margin: 0;
	list-style: none;
	padding: 0;
}
nav .nav_list .tags::before
{
	content: "# ";
}
nav .nav_list .nav_list_el:hover
{
	background-color: #22222f;
	cursor: pointer;
	text-decoration: underline;
}
nav .nav_list .nav_list_el
{
	font-size: .8em;
	padding: 4px;
	padding-left: 24px; 
	font-family: Open Sans;
	background-color: #33333f;
	color: #ededed;
	text-decoration: none;
}
.nav_list_el a
{
	color: #ededed;
	text-decoration: none;
}
.selected
{
	border-left: 5px solid #1784c7;
	background-color: #22222f !important;
}
nav hr
{
	border: none; 
	border-bottom: 1px solid #5a5a6a;
	border-top: 1px solid #333340;
	margin: 1em 1em;
}